// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-log {
  margin-left: .5em
}

.show-img {
  display: block;
  max-height: 20rem;
  max-width: 100%;
  width: auto;
  height: auto;
}

.show-card {
  height: 100%;
  margin: 1em;
}

.show-links {
  display: flex;
  justify-content: space-between;
}

.show-name {
  align-items: center;
  margin-bottom: 0;
}
