// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-log {
  margin-left: .5em
}

.fa-map-marker-alt {
  color: #D42422;
  font-size: 2em;
}

h1 {
  text-align: center;
}